extends base
include mixins/room
block content
    div
        h2 Room List
            br
            each room in result_room_list
                +room(room)
                br
            else
                span No Rooms found